*_tcl.html
*_tcr.dir
*.log
*.log.bak.*
msim/work
synwork
synlog
*.wlf
*.bak
message.xml
synlog.tcl
syntmp
.recovery
.spreadsheet_view.ini

#impl output files
*.mrp
*.ior
*.pad
*_synplify.html
*_synplify.tcl
*.par
hdla_gen_hierarchy.html
*.areasrr
*impl*/*_twr.html
*impl*/*_summary.html
*impl*/*impl*/*_scck.rpt
*impl*/*_par.html
*impl*/*_pad.html
*impl*/*_mrp.html
*impl*/*_iotiming.html
*impl*/*.srf
*impl*/*.srr
*impl*/*.twr
*impl*/*_synplify_tmp*.lpf
*impl*/*_*.asd
*impl*/*_*.rpt.db
*impl*/*.ncd
*impl*/*.ngd
*impl*/*.ngo
*impl*/*_impl*.htm
*impl*/*.rpt
*impl*/*_map.hrr
reportview.xml
*impl*/*.edi
*impl*/backup
*impl*/.build_status

