BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "prog" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rts" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "tx" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cts" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clk" SITE "21" ;
LOCATE COMP "prog" SITE "4" ;
LOCATE COMP "cts" SITE "17" ;
LOCATE COMP "rx" SITE "16" ;
LOCATE COMP "rts" SITE "27" ;
LOCATE COMP "tx" SITE "20" ;
LOCATE COMP "p2[0]" SITE "11" ;
LOCATE COMP "p2[1]" SITE "10" ;
LOCATE COMP "p2[2]" SITE "9" ;
LOCATE COMP "p2[3]" SITE "8" ;
IOBUF PORT "p2[0]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 HYSTERESIS=SMALL ;
IOBUF PORT "p2[1]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
IOBUF PORT "p2[2]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
IOBUF PORT "p2[3]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
IOBUF PORT "LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "LED" SITE "28" ;
LOCATE COMP "p2_buf_oe" SITE "13" ;
IOBUF PORT "p2_buf_oe" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
OUTPUT PORT "p2[0]" LOAD 13.000000 pF ;
OUTPUT PORT "p2[1]" LOAD 13.000000 pF ;
OUTPUT PORT "p2[2]" LOAD 13.000000 pF ;
OUTPUT PORT "p2[3]" LOAD 13.000000 pF ;
OUTPUT PORT "p2_buf_oe" LOAD 8.000000 pF ;
OUTPUT PORT "tx" LOAD 7.000000 pF ;
OUTPUT PORT "rts" LOAD 7.000000 pF ;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
IOBUF PORT "p2_buf_dir" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
OUTPUT PORT "p2_buf_dir" LOAD 8.000000 pF ;
LOCATE COMP "p2_buf_dir" SITE "12" ;
LOCATE COMP "gnd2" SITE "14" ;
IOBUF PORT "gnd2" PULLMODE=UP IO_TYPE=LVCMOS33 ;
MAXDELAY FROM PORT "prog" TO PORT "p2_buf_dir" 20.000000 ns ;
BANK 0 VCCIO 3.3 V;
