BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "prog_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "rts" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "tx" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
FREQUENCY PORT "clk" 7.372800 MHz ;
IOBUF PORT "rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cts" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clk" SITE "21" ;
LOCATE COMP "prog_n" SITE "4" ;
LOCATE COMP "cts" SITE "17" ;
LOCATE COMP "rx" SITE "16" ;
LOCATE COMP "rts" SITE "27" ;
LOCATE COMP "tx" SITE "20" ;
LOCATE COMP "p2[0]" SITE "11" ;
LOCATE COMP "p2[1]" SITE "10" ;
LOCATE COMP "p2[2]" SITE "9" ;
LOCATE COMP "p2[3]" SITE "8" ;
IOBUF PORT "p2[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "p2[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "p2[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "p2[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "LED" IO_TYPE=LVCMOS33 ;
LOCATE COMP "LED" SITE "28" ;
