BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "prog_n" SITE "21" ;
LOCATE COMP "p2i[1]" SITE "9" ;
LOCATE COMP "p2i[2]" SITE "10" ;
LOCATE COMP "p2i[3]" SITE "11" ;
LOCATE COMP "p2o[0]" SITE "12" ;
LOCATE COMP "p2o[1]" SITE "13" ;
LOCATE COMP "p2o[2]" SITE "14" ;
LOCATE COMP "p2o[3]" SITE "16" ;
LOCATE COMP "rts" SITE "17" ;
IOBUF PORT "prog_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "p2i[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "p2i[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "p2i[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "p2i[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "p2o[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "p2o[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "p2o[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "p2o[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rts" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "tx" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "tx" SITE "4" ;
LOCATE COMP "p2i[0]" SITE "5" ;
LOCATE COMP "p2_oe" SITE "20" ;
IOBUF PORT "p2_oe" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clk" SITE "28" ;
LOCATE COMP "cts" SITE "27" ;
FREQUENCY PORT "clk" 7.372800 MHz ;
LOCATE COMP "rx" SITE "8" ;
IOBUF PORT "rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cts" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
